 /*Sección About*/
  
 .about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-2);
  }
  .about__container {
    max-width: 751px;
  }
  .about__svg{
    height: 500px;
    width: 500px;
  }