 /*Sección About*/
  
 .about {
    height: var(--size-height);
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
  }
  .about__container {
    max-width: 751px;
  }
  .about__svg{
    height: 500px;
    width: 500px;
  }